<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Book</a>
        <a href="/trans-book">Translated Book</a>
    </nav>
    <!-- Our form that we sent from the route. -->
    <form action="" method="post">
        <!-- Render this hidden tag for CSRF protectin and correct form validation. -->
        {{ form.hidden_tag() }}
        <!-- Render the form label. -->
        {{ form.first_name.label }}
        <!-- Render the form field. Set an optional length of the text box. -->
        {{ form.first_name(size=20) }}
        <br>
        {{ form.last_name.label }}
        {{ form.last_name(size=20) }} 
        <br>
        {{ form.publisher.label }}
        {{ form.publisher(size=20) }}
        <br>
        {{ form.book_title.label }}
        {{ form.book_title(size=20) }}
        <br>
        {{ form.year.label }}
        {{ form.year(size=20) }}
        <br>
        <input type="submit" value="Submit">
    </form>

    <!-- Check if a key exists.
         If it hasnt, then don't render this bit.
         If it does, then render this bit.
    -->
    {% if year %}
    <!-- This is where we can render variables sent from the route into our specified layout. -->
    <p>{{ last_name }}, {{ first_name }}:
        <span class="slant">{{ book_title}}</span>
        ({{ publisher }}), {{ year }}
    </p>
    {% endif %}
</body>
</html>